
 <div class="banner" id="about">
     <div class="container text-center">
            <img src="https://raw.githubusercontent.com/karimullarapidops/SmartaSolutions/master/src/assets/images/about.png" class="img-fluid col-12 col-md-9" alt="" @zoomin>
     </div>
 </div>

 <div class="container">

    <!-- Introduction Row -->
    <h1 class="my-4">About Us
    </h1>
    <p>
      Many organizations beginning to realize their most valuable asset is their human capital. 
      Hiring right talent, training, managing, and retaining talent is key to success of any 
      organization. So, HR became critical and most important part of the corporate functions. <br><br>
  
      Organizations need to provide tools and applications to HR department to manage their HR 
      functions, which include recruiting, onboarding, training, performance management, compensation 
      management, benefits and payroll.<br><br>
  
      Oracle, SAP SuccessFactors, and Work Day came up with innovative applications to manage HR 
      functions. However, these applications need to be configured to suit to your business policies 
      and needs. We come in to fill this gap. <br><br>
  
      Our teams spent many years understanding HR business needs, simplifying HR business processes, 
      configuring, implementing and supporting these HCM applications, setup dashboards/analytics for 
      your HR management, and integrating HCM applications with third-party applications.  <br><br>
  
      We are experts in <font>Angular-7 , NodeJs SuccessFactors MongoDB and ExpressJs Work Day HCM</font> applications! We are 
      here to help you in these areas!<br>
    </p>
</div>