<div class="jumbotron text-center mt-2">
    <div @zoomin>
        <h1 class="display-3">Hello, world!</h1>
        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
        <hr class="my-2">
        <p>It uses utility classes for typography and
          spacing to space content out within the larger container.</p>
        <p class="lead">
          <a class="btn btn-primary btn-lg" routerLink="/register" role="button">Register</a>
          <a class="btn btn-default btn-lg" routerLink="/login" role="button">login</a>
        </p>
      </div>
    </div>
  
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="card">
            <h3 class="card-header">Angular-7</h3>
            <div class="card-body">
              <h4 class="card-title">Special title treatment</h4>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a routerLink="/" class="btn btn-primary">Google+</a>
            </div>
          </div>
        </div>
      
      <div class="col-md-4">
        <div class="card">
          <h3 class="card-header">Nodejs</h3>
          <div class="card-body">
            <h4 class="card-title">Special title treatment</h4>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a routerLink="/" class="btn btn-primary">facebook</a>
          </div>
        </div>
      </div>
    
      <div class="col-md-4">
        <div class="card">
          <h3 class="card-header">MongoDB</h3>
          <div class="card-body">
            <h4 class="card-title">Special title treatment</h4>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a routerLink="/" class="btn btn-primary">Github</a>
          </div>
        </div>
      </div>
    </div>
  </div>
